body{
  font: sans-serif, Arial;
  font-size:1em;
  line-height: 1.5;
  margin:0;
  padding:0;
  background-color: #f4f4f4;
}

/*Global*/
.container{
  width: 80%;
  margin:auto;
  overflow:hidden;
}

/*Header*/
header{
  background-color: gray;
  min-heigth:70px;
}

header a{
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: bold;
}

header a:hover{
  transition: 0.5s;
  color:white;
}

header ul{
  margin:0;
  padding:0;
    padding-top: 30px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #top{
  float:left;
}

header #top h1{
  font-size: 2.5em;
  display: inline;
  padding-left: 10px;
  color:lightblue;
}

header #top img{
  margin:0;
  width: 100px;
}

header nav{
  float: right;
  padding-top: 30px;
}
