body{
  font: sans-serif, Arial;
  font-size:1em;
  margin:0;
  padding:0;
  background-color: #f4f4f4;
}

/*Global*/
.orange{
  color:#4073FF;
}

.container{
  width: 80%;
  margin:auto;
  overflow:hidden;
}

.transblack{
  background-color: rgba(0,0,0,0.4);
  width:500px;
}

.topPadding{
  padding-top: 50px;
}

/*Header*/
header{
  background-color: #151515;
  min-heigth:70px;
  position:fixed;
  width:100%;
  opacity: 0.8;
}

header a{
  color: #F1F1F1;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6em;
  font-weight: bold;
}

header nav .links a:hover {
  transition: 0.5s;
  color:#4073FF;
  border-bottom: 1.5px solid #4073FF;
}

header ul{
  margin:0;
  padding:0;
  padding-top: 30px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #top{
  float:left;
}


header #top{
  display: flex;
}

header #top .pic img{
  margin:0;
  padding:0;
  width: 100px;
}

header #top .text{
  padding-top:30px;
  padding-left: 30px;
}

header #top .text h1{
  font-size: 2.7em;
  display: inline;
  color:#F1F1F1;
}

header nav{
  float: right;
  padding-top: 15px;
  display: flex;
}

header nav div img{
  margin:0;
  padding:0;
  padding: 25px 0 0 0;
  width:40px;
  opacity: 0.8;
}

header nav div img:hover{
  opacity: 1;
}

#blank{
  min-height: 110px;
  background-color: black;
}

#showcase {
  min-height: 700px;
  background-image: url('./bilder/background1.jpg');
  background-position: no-repeat;
  background-size: cover;
}

#showcase #logo img{
  margin:auto;
  padding-top:50px;
  width:500px;
  opacity: 100%;
}

#showcase h1{
  font-size: 3em;
  color:#F1F1F1;;
}

#underText{
  padding-bottom:1px;
}
