body{
  font: serif, Arial;
  font-size:1em;
  margin:0;
  padding:0;
  background-color: #f4f4f4;
  line-height: 1.5;
}

h1, p{
  color:#151515;
}

/*Global*/
.orange{
  color:#4073FF;
}

.container{
  width: 80%;
  margin:auto;
  overflow:hidden;
  padding-bottom:2%;
}


.transblack{
  background-color: rgba(0,0,0,0.7 );
  width:500px;
}

.topPadding{
  padding-top: 50px;
}

.conText{
  width:80%;
  margin:auto;
  padding: 0 0 1px 0;
}

.conText p{
  font-size: 1.3em;
}

.conText1{
  margin:auto;
  padding: 0 0 1px 0;
}

.conText1 p{
  font-size: 1.3em;
}

.wrapper{
  display: flex;
}

.wrapper img{
  margin:auto;
  padding-top:25px;
  padding-left:25px;
  width:400px;
  height:95%;
  position: relative;
  bottom:0;
}

#backUp{
  text-align: center;
  background-color: black;
  width:50px;
  height:50px;
  position: fixed;
  right:50px;
  bottom:50px;
  border-radius: 30px;
}

#backUp h1{
  margin:auto;
  color:white;
}

/*Header*/
header{
  background-color: #151515;
  min-heigth:70px;
  width:100%;
}

header a{
  color: #FAFAFA;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: bold;
}

header nav .links a:hover {
  transition: 0.5s;
  color:#4073FF;
  border-bottom: 1.5px solid #4073FF;
}

header ul{
  margin:0;
  padding:0;
  padding-top: 30px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #top{
  float:left;
}


header #top{
  display: flex;
}

header #top .pic img{
  margin:0;
  padding:0;
  width: 100px;
}

header #top .text{
  padding-top:30px;
  padding-left: 30px;
}

header #top .text h1{
  font-size: 2.7em;
  display: inline;
  color:#FAFAFA;
}

header nav{
  float: right;
  padding-top: 15px;
  display: flex;
}

header nav div img{
  margin:0;
  padding:0;
  padding: 25px 0 0 10px;
  width:50px;
  opacity: 0.8;
}

header nav div img:hover{
  opacity: 1;
}

/*showcase*/

#showcase {
  min-height: 700px;
  background-image: url('./bilder/Nybakgrunn.jpg');
  background-position: no-repeat;
  background-size: cover;
}

#aboutUs{
  min-height: 500px;
  background-image: url('./bilder/tekstBakgrunn.jpg');
  background-position: 0 -100px;
  background-size: cover;
  color:white;
}

#aboutUs h1{
  padding-top: 5%;
  text-align: center;
  color:#FAFAFA;
  font-size: 2.7em;
}

#aboutUs p{
  text-align: center;
  color:#FAFAFA;
  font-size: 1.5em;
}
/*#showcase #logo img{
  margin:auto;
  padding-top:50px;
  width:500px;
  opacity: 100%;
}*/

#showcase a{
  text-decoration: none;
}

#showcase h1{
  margin:auto;
  padding:0;
  font-size: 3em;
  color:#FAFAFA;
}

#learn{
  margin:auto;
  background-color: rgba(250,250, 250, 0.5);
  margin:auto;
  width:10%;
  left:45%;
  bottom: 10%;
  text-align: center;
  border: 1px solid black;
  position: absolute;
  border-radius: 10px;
  min-height: 30px;
}

#learn:hover{
  transition: 0.5s;
  background-color: rgba(250,250,250,1);
}

#learn h1{
  padding-top:2px;
  margin:auto;
  font-size: 1.4em;
  color: #151515;
}

#underText{
  padding-bottom:1px;
}

#underText h1{
  font-size: 2.5em;
}

#topics{
  padding-top:
}

#topics h1{
  text-align: center;
}

.main{
  padding-top:50px;
}

.main h1, #contact h1{
  font-size: 2.7em;
  text-align: center;
  border-bottom: 1.5px solid #4073FF;
  width:50%;
  margin:auto;
  padding: 20px 0 30px 0;
}


#contact{
  padding-bottom: 50px;
}

#solution{
  background-color: #E9E9E9;
}

#slider-container{
  padding-top:4%;
  margin:auto;
  width:100%;
  position: relative;

}

.slide{
  display: none;
}

#slider-container .slideImg{
  padding-left: 5%;
}

#slider-container .slideText{
  margin:auto;
  margin-top: 5%;
  padding-left: 5%;
  font-size: 1.5em;
  padding-right: 5%;
}

#timeplanImg{
  padding-top:5%;
  padding-left: 5%;
}

#timeplanText{
  margin:auto;
  padding-left: 5%;
  font-size: 1.5em;
  padding-right: 5%;
  padding-bottom: 5%;
}

.prev, .next{
  position:absolute;
  width:auto;
  top:50%;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
  color: #151515;

}

.next{
  right:0;
}

.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

footer{
  background-color: #C8C8C8;
}

#multimedia .box{
  padding: 20px 0 20px 0;
  margin:auto;
  text-align: center;
  float:left;
  width:33%;
  display:inline-block;
}

#multimedia .box img{
  width:60px;
}

#multimeda box a, h4{
  font-size: 1.5em;
}

#portrait{
  padding-top: 170px;
}

.face{
  margin:auto;
  float:left;
  width:25%;
  text-align: center;
}
