body{
  font: sans-serif, Arial;
  font-size:1em;
  margin:0;
  padding:0;
  background-color: #f4f4f4;
}

h1, p{
  color:#151515;
}

/*Global*/
.orange{
  color:#4073FF;
}

.container{
  width: 80%;
  margin:auto;
  overflow:hidden;
}


.transblack{
  background-color: rgba(0,0,0,0.4);
  width:500px;
}

.topPadding{
  padding-top: 50px;
}

.conText{
  width:80%;
  margin:auto;
}

/*Header*/
header{
  background-color: #151515;
  min-heigth:70px;
  position:fixed;
  width:100%;
  opacity: 0.8;
}

header a{
  color: #FAFAFA;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6em;
  font-weight: bold;
}

header nav .links a:hover {
  transition: 0.5s;
  color:#4073FF;
  border-bottom: 1.5px solid #4073FF;
}

header ul{
  margin:0;
  padding:0;
  padding-top: 30px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #top{
  float:left;
}


header #top{
  display: flex;
}

header #top .pic img{
  margin:0;
  padding:0;
  width: 100px;
}

header #top .text{
  padding-top:30px;
  padding-left: 30px;
}

header #top .text h1{
  font-size: 2.7em;
  display: inline;
  color:#FAFAFA;
}

header nav{
  float: right;
  padding-top: 15px;
  display: flex;
}

header nav div img{
  margin:0;
  padding:0;
  padding: 25px 0 0 0;
  width:40px;
  opacity: 0.8;
}

header nav div img:hover{
  opacity: 1;
}

#blank{
  min-height: 110px;
  background-color: #151515;
}

#showcase {
  min-height: 700px;
  background-image: url('./bilder/background1.jpg');
  background-position: no-repeat;
  background-size: cover;
}

/*#showcase #logo img{
  margin:auto;
  padding-top:50px;
  width:500px;
  opacity: 100%;
}*/

#showcase h1{
  margin:auto;
  padding:0;
  font-size: 3em;
  color:#FAFAFA;
}

#underText{
  padding-bottom:1px;
}

#topics{
  padding-top:
}

#topics h1{
  text-align: center;
}

#main h1, #contact h1{
  font-size: 2.7em;
  text-align: center;
}

#main::after, #contact::after{
  background-color: #4073FF;
  height: 0.5px;
  width: 300px;
  display: block;
  content: "";
  margin:auto;
}

#contact{
  padding-bottom: 50px;
}

#solution{
  background-color: #E9E9E9;
}


footer{
  background-color: #C8C8C8;
}

#multimedia .box{
  padding: 20px 0 20px 0;
  margin:auto;
  text-align: center;
  float:left;
  width:33%;
  display:inline-block;
}

#multimedia .box img{
  width:40px;
}


#portrait{
  padding-top: 170px;
}

.face{
  margin:auto;
  float:left;
  width:25%;
  text-align: center;
}
